.carousel {
  width: 100%;
  overflow: scroll ;
  padding: 30px;
  position: relative;
}

.carousel__container {
  white-space: nowrap;
  margin: 70px 0px;
  padding-bottom: 10px;
  cursor: pointer;
}
